.topbar{
  text-align: right;
  color: #333333;
}

.Google{
  color: #4885ed;
  font-family: futura;
  font-size: 45px;
  text-align: center;
  margin-top: 140px;
}

.bar{
  text-align: center;
}
.search{
  border-width: medium;
  border-radius: 3px;
  padding: 3px;
}

.G{
  color: #4885ed
}
.o{
  color: #f4c20d
}
.l{
  color: #3cba54
}
.e{
  color: #db3236
}
.t{
  text-align: center;
  width: 500px;
}

.b{
  text-align: center;
  color: #555555;
  font-family: futura;
  width: 100px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 13px;
}

.button{
  padding-top: 20px;
  text-align: center;
  border-color: #FFFFFF;
}

.footer{
  text-align: center;
  font-family: futura;
  padding: 5px;
  font-size: 10px;
}
